/* Variables */
:root {
    --navBarHeight: 40;
    --footerHeight: 100;
}

/* Structure */
body {
    margin: 0;
    user-select: none;
}

.appContainer {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
    outline: 1px solid red;
    position: relative;
}

.navBar {
    width: 100vw;
    height: calc(var(--navBarHeight) * 1px);
    outline: 1px solid blue;
    position: fixed;
    display: flex
}

/* .navButton {
    cursor: pointer;
} */

.navButton:hover {
    background: red;
    cursor: pointer;
}

.navBarOffset {
    height: calc(var(--navBarHeight) * 1px);
}

.uxPagesContainer {
    display: none;
}

.uxPageBackButton {
    display: none;
    /* cursor: pointer; */
}

.uxPageBackButton:hover {
    cursor: pointer;
    background: red
}

.pageContainer {
    min-height: calc(100% - var(--footerHeight)*1px - var(--navBarHeight)*1px);
    outline: 1px solid green;
}

.uxPage {
    display: none
}

.footer {

    height: calc(var(--footerHeight) * 1px);
    outline: 1px solid purple
}